{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body class="bg-gray-50 text-gray-900">

    <nav class="bg-blue-600 text-white shadow-md z-20">
        <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
            <div class="text-xl font-semibold"><a href="{% url 'home' %}">DDS</a></div>
            <ul class="flex space-x-6 text-white font-medium">
                <li><a href="{% url 'home' %}" class="hover:text-blue-200 transition">Главная</a></li>  
                <li><a href="/books/" class="hover:text-blue-200 transition">Справочники</a></li>
            </ul>
        </div>
    </nav>

    <main class="flex justify-center items-center px-4 pt-4">
        <div class="max-w-[1100px] w-full">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>
